@font-face
    font-family: 'Futura-Light'
    src: url('../fonts/FuturaStd-Light.eot')
    src: url('../fonts/FuturaStd-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaStd-Light.woff2') format('woff2'),
        url('../fonts/FuturaStd-Light.woff') format('woff'),
        url('../fonts/FuturaStd-Light.ttf') format('truetype'),
        url('../fonts/FuturaStd-Light.svg#FuturaStd-Light') format('svg')
    font-weight: 300
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Futura-Bold'
    src: url('../fonts/FuturaStd-Bold.eot')
    src: url('../fonts/FuturaStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaStd-Bold.woff2') format('woff2'),
        url('../fonts/FuturaStd-Bold.woff') format('woff'),
        url('../fonts/FuturaStd-Bold.ttf') format('truetype'),
        url('../fonts/FuturaStd-Bold.svg#FuturaStd-Bold') format('svg')
    font-weight: bold
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Futura-Medium'
    src: url('../fonts/FuturaStd-Medium.eot')
    src: url('../fonts/FuturaStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaStd-Medium.woff2') format('woff2'),
        url('../fonts/FuturaStd-Medium.woff') format('woff'),
        url('../fonts/FuturaStd-Medium.ttf') format('truetype'),
        url('../fonts/FuturaStd-Medium.svg#FuturaStd-Medium') format('svg')
    font-weight: 500
    font-style: normal
    font-display: swap
    
@font-face
    font-family: 'Poppins-Regular'
    src: url('../fonts/Poppins-Regular.eot')
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff'),
        url('../fonts/Poppins-Regular.ttf') format('truetype'),
        url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg')
    font-weight: 200
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Poppins-SemiBold'
    src: url('../fonts/Poppins-SemiBold.eot')
    src: url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/Poppins-SemiBold.ttf') format('truetype'),
        url('../fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg')
    font-weight: 400
    font-style: normal
    font-display: swap
    
@font-face
    font-family: 'Poppins-Bold'
    src: url('../fonts/Poppins-Bold.eot')
    src: url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold.woff') format('woff'),
        url('../fonts/Poppins-Bold.ttf') format('truetype'),
        url('../fonts/Poppins-Bold.svg#Poppins-Bold') format('svg')
    font-weight: bold
    font-style: normal
    font-display: swap
@font-face
    font-family: 'Poppins-Medium'
    src: url('../fonts/Poppins-Medium.eot')
    src: url('../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium.woff') format('woff'),
        url('../fonts/Poppins-Medium.ttf') format('truetype'),
        url('../fonts/Poppins-Medium.svg#Poppins-Medium') format('svg')
    font-weight: bold
    font-style: normal
    font-display: swap
@font-face
    font-family: 'Georgia-Regular'
    src: url('../fonts/Georgia.eot')
    src: url('../fonts/Georgia.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Georgia.woff2') format('woff2'),
        url('../fonts/Georgia.woff') format('woff'),
        url('../fonts/Georgia.ttf') format('truetype'),
        url('../fonts/Georgia.svg#Georgia') format('svg')
    font-weight: bold
    font-style: normal
    font-display: swap
    

